@import url("pokedex.css");
:root {
    --font-principal: 'Roboto', sans-serif;
    --cor-principal: #F4FFFF;
    --background-type-normal: #A8A878;
    --background-type-fire: #F08030;
    --background-type-water: #76BEFE;
    --background-type-grass: #49D0B0;
    --background-type-electric: #F8D030;
    --background-type-ice: #98D8D8;
    --background-type-ground: #E0C068;
    --background-type-flying: #A890F0;
    --background-type-poison: #A040A0;
    --background-type-fighting: #C03028;
    --background-type-psychic: #F85888;
    --background-type-dark: #705848;
    --background-type-rock: #B8A038;
    --background-type-bug: #A8B820;
    --background-type-ghost: #705898;
    --background-type-steel: #B8B8D0;
    --background-type-dragon: #7038F8;
    --background-type-fairy: #FFAEC9;
}

* {
    font-family: var(--font-principal);
    box-sizing: border-box;
}

body {
    font-size: 16px;
    background-color: #F6F8FC;
}

main {
    padding: 1em;
    background-color: #fff;
    width: 100vw;
}






