/* CSS da pokedexs */
.pokemons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .6em;
}

.pokemon {
    padding: 1.5em 1em;
    border-radius: 1em;
    color: var(--cor-principal);
    display: flex;
    flex-direction: column;
}

/* Coloração do fundo dos cards do pokemons */
.normal {
    background-color: var(--background-type-normal)
}

.fire {
    background-color: var(--background-type-fire);
}

.water {
    background-color: var(--background-type-water);
}

.grass {
    background-color: var(--background-type-grass);
}

.electric {
    background-color: var(--background-type-electric);
}

.ice {
    background-color: var(--background-type-ice);
}

.ground {
    background-color: var(--background-type-ground);
}

.flying {
    background-color: var(--background-type-flying);
}

.poison {
    background-color: var(--background-type-poison);
}

.fighting {
    background-color: var(--background-type-fighting);
}

.psychic {
    background-color: var(--background-type-psychic);
}

.dark {
    background-color: var(--background-type-dark);
}

.rock {
    background-color: var(--background-type-rock);
}

.bug {
    background-color: var(--background-type-bug);
}

.ghost {
    background-color: var(--background-type-ghost);
}

.steel {
    background-color: var(--background-type-steel);
}

.dragon {
    background-color: var(--background-type-dragon);
}

.fairy {
    background-color: var(--background-type-fairy);
}

/* Coloração dos typos do pokemons */
.type--normal {
    background-color: var(--color-types-normal)
}

.type--fire {
    background-color: var(--color-types-fire)
}

.type--water {
    background-color: var(--color-types-water);
}

.type--grass {
    background-color: var(--color-types-grass);
}

.type--electric {
    background-color: var(--color-types-electric);
}

.type--ice {
    background-color: var(--color-types-ice);
}

.type--ground {
    background-color: var(--color-types-ground);
}

.type--flying {
    background-color: var(--color-types-flying);
}

.type--poison {
    background-color: var(--color-types-poison);
}

.type--fighting {
    background-color: var(--color-types-fighting);
}

.type--psychic {
    background-color: var(--color-types-psychic);
}

.type--dark {
    background-color: var(--color-types-dark);
}

.type--rock {
    background-color: var(--color-types-rock);
}

.type--bug {
    background-color: var(--color-types-bug);
}

.type--ghost {
    background-color: var(--color-types-ghost);
}

.type--steel {
    background-color: var(--color-types-steel);
}

.type--dragon {
    background-color: var(--color-types-dragon);
}

.type--fairy {
    background-color: var(--color-types-fairy);
}


.number {
    font-weight: bolder;
    text-align: end;
    color: rgba(14, 13, 13, 0.158);
}


.name {
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: .4em;
}

.types {
    padding: 0;
    margin: 0;
    list-style-type: none;
    list-style-position: outside;
}

.type {
    font-weight: 300;
    border-radius: 20px;
    padding: .3em .6em;
    margin: .5em 0em;
    text-align: center;
    font-size: .9em;
}


.detalhes {
    display: flex;
    justify-content: space-between;
}

.article__imagem {
    max-width: 100%;
    height: 70px;
}

@media screen and (min-width: 190px) {
    .pokemons {
        grid-template-columns: 1fr
    }
}

@media screen and (min-width: 378px) {
    .pokemons {
        grid-template-columns: 1fr 1fr
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr
    }
}

@media screen and (min-width: 992px) {
    main {
        max-width: 992px;
        margin: 1em auto;
        height: auto;
        border-radius: 1em;
    }
}