/* CSS da pokedexs */
.pokemons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .7em;
}

.pokemon {
    padding: 1.5em 1em;
    border-radius: 1em;
    color: var(--cor-principal);
    display: flex;
    flex-direction: column;
    transition: filter .2s linear;
}

.pokemon:hover {
    filter: grayscale(40%);
    cursor: pointer;
}

/* Coloração do fundo dos cards do pokemons */
.normal {
    background-color: var(--background-type-normal)
}

.fire {
    background-color: var(--background-type-fire);
}

.water {
    background-color: var(--background-type-water);
}

.grass {
    background-color: var(--background-type-grass);
}

.electric {
    background-color: var(--background-type-electric);
}

.ice {
    background-color: var(--background-type-ice);
}

.ground {
    background-color: var(--background-type-ground);
}

.flying {
    background-color: var(--background-type-flying);
}

.poison {
    background-color: var(--background-type-poison);
}

.fighting {
    background-color: var(--background-type-fighting);
}

.psychic {
    background-color: var(--background-type-psychic);
}

.dark {
    background-color: var(--background-type-dark);
}

.rock {
    background-color: var(--background-type-rock);
}

.bug {
    background-color: var(--background-type-bug);
}

.ghost {
    background-color: var(--background-type-ghost);
}

.steel {
    background-color: var(--background-type-steel);
}

.dragon {
    background-color: var(--background-type-dragon);
}

.fairy {
    background-color: var(--background-type-fairy);
}

.number {
    font-weight: bolder;
    text-align: end;
    color: rgba(14, 13, 13, 0.158);
}


.name {
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: .4em;
    text-transform: capitalize;
}

.types {
    padding: 0;
    margin: 0;
    list-style-type: none;
    list-style-position: outside;
}

.type {
    font-weight: 300;
    border-radius: 20px;
    padding: .3em .6em;
    margin: .5em 0em;
    text-align: center;
    font-size: .9em;
    filter: brightness(1.1);
}


.detalhes {
    display: flex;
    justify-content: space-between;
}

.article__imagem {
    max-width: 100%;
    height: 70px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
}

.pagination button {
    color: var(--cor-principal);
    background-color: #6c79db;
    border: none;
    border-radius: 1em;
    padding: 1em;
    cursor: pointer;
}

.statusPokemon {
    padding: 1em;
    width: 22%;
    background-color: var(--cor-principal);
    box-shadow: 0px 0px 4px black;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 37%;
    border-radius: 1em;
}

.display {
    display: none;
}

.lista-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.lista-box,
.lista-status {
    list-style-type: none;
}

.lista-status li {
    margin: .3em 0em;
    font-weight: 300;
}

.lista-status span {
    margin-left: .3em;
    font-weight: 400;
}


@media screen and (min-width: 190px) {
    .pokemons {
        grid-template-columns: 1fr
    }

    .statusPokemon {
        position: initial;
        width: 100%;
    }
}

@media screen and (min-width: 378px) {
    .pokemons {
        grid-template-columns: 1fr 1fr
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .statusPokemon {
        width: 60%;
        margin: 1em auto;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr
    }
}

@media screen and (min-width: 992px) {
    main {
        max-width: 992px;
        margin: 1em auto;
        height: auto;
        border-radius: 1em;
    }
}